version: 2.1

jobs:
  coverage:
    machine:
      # https://circleci.com/docs/2.0/configuration-reference/#available-linux-gpu-images
      image: ubuntu-2004-cuda-11.4:202110-01
    resource_class: gpu.nvidia.large
    steps:
      - checkout
      - run:
          name: Setup
          command: |
            source .circleci/setup_env.sh
      - run:
          name: Tests
          command: |
            source .circleci/setup_env.sh
            mkdir test-results
            pytest -v --junitxml=test-results/junit.xml
      - store_test_results:
          path: test-results
      - run:
          name: TorchBench install
          command: |
            source .circleci/setup_env.sh
            conda install -y -c conda-forge git-lfs
            git lfs install --skip-repo
            # git clone --recursive --depth=1 --shallow-submodules git@github.com:jansel/benchmark.git torchbenchmark
            # above doesn't work due to git-lfs auth issues, workaround with a tarball:
            wget -O torchbenchmark.tar.bz2 "https://drive.google.com/u/0/uc?id=1KvYsqipsvvv3pnNkJzME0iTemDZe0buC&export=download&confirm=t"
            tar jxvf torchbenchmark.tar.bz2
            (cd torchbenchmark && python install.py)
      - run:
          name: TorchBench run
          command: |
            source .circleci/setup_env.sh
            python benchmarks/torchbench.py --ci --coverage -d cuda --raise-on-assertion-error --raise-on-backend-error -x Super_SloMo -x moco
      - store_artifacts:
          path: coverage.csv
      - run:
          name: TorchBench coverage
          command: |
            source .circleci/setup_env.sh
            python .circleci/check_coverage.py
  aot_eager:
    machine:
      # https://circleci.com/docs/2.0/configuration-reference/#available-linux-gpu-images
      image: ubuntu-2004-cuda-11.4:202110-01
    resource_class: gpu.nvidia.large
    steps:
      - checkout
      - run:
          name: Setup
          command: |
            source .circleci/setup_env.sh
      - run:
          name: TorchBench install
          command: |
            source .circleci/setup_env.sh
            conda install -y -c conda-forge git-lfs
            git lfs install --skip-repo
            # git clone --recursive --depth=1 --shallow-submodules git@github.com:jansel/benchmark.git torchbenchmark
            # above doesn't work due to git-lfs auth issues, workaround with a tarball:
            wget -O torchbenchmark.tar.bz2 "https://drive.google.com/u/0/uc?id=1KvYsqipsvvv3pnNkJzME0iTemDZe0buC&export=download&confirm=t"
            tar jxvf torchbenchmark.tar.bz2
            (cd torchbenchmark && python install.py)
      - run:
          name: TorchBench AotAutograd Eager run
          command: |
            source .circleci/setup_env.sh
            python benchmarks/torchbench.py --ci --training --accuracy-aot-nop -d cuda -x Super_SloMo -x moco -x dlrm -x fambench_dlrm -x fastNLP_Bert -x hf_Reformer -x tacotron2 --use-eval-mode --output=aot_eager.csv
      - store_artifacts:
          path: aot_eager.csv
      - run:
          name: TorchBench AotAutograd Eager compiler accuracy
          command: |
            source .circleci/setup_env.sh
            python .circleci/check_aot.py
workflows:
  gpu:
    jobs:
      - coverage
      - aot_eager
